body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  padding-top: 100px; /* Ajusta este valor según la altura de tu header */
}

* {
  box-sizing: border-box;
}

.header {
  background-color: #FFD700; /* Color de fondo amarillo */
  color: black;
  padding: 10px 20px;
  position: fixed; /* Posición fija */
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.header .logo {
  font-size: 24px;
  font-weight: bold;
}

.header .menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header .menu li {
  margin-left: 20px;
}

.header .menu li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.footer {
  background-color: #333; /* Fondo oscuro */
  color: white;
  padding: 20px;
  text-align: center;
  bottom: 0;
  width: 100%;
}

.footer .icons {
  margin-bottom: 10px;
}

.footer .icons i {
  margin: 0 10px;
  font-size: 20px;
}

.footer .links {
  margin-top: 10px;
}

.footer .links a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.footer .links a:hover {
  text-decoration: underline;
}
